.menu-bar {
    -fx-background-color: #aeb5ba,
    linear-gradient(to bottom, #ecf4fa 0%, #ced4d9 100%);
    -fx-background-insets: 0, 0 0 1 0;
}

.menu-bar .menu .label {
    -fx-text-fill: #2d3e4c;
}

.split-pane > .split-pane-divider {
    -fx-background-color: linear-gradient(to right, #ecf4fa 0%, #ced4d9 100%);
    -fx-padding: 0 3 0 3;
}

.scroll-pane {
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
}

#panelStandard, #panelAdvance, #panelGoogle, #panelRaster {
    -fx-background-color: #ecf0f1,
    linear-gradient(to bottom, #ecf4fa 0%, #ced4d9 100%);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-margin: 0 5 5 0;
}

#panelStandard:hover, #panelAdvance:hover, #panelGoogle:hover, #panelRaster:hover {
    -fx-background-color: #bdc3c7;
    -fx-cursor: hand;
}

.anchor-panel .label {
    -fx-color: #7f8c8d;
}

.main-label-color {
    -fx-font-size: 18px;
}

#dataInfoPanel {
    -fx-background-color: #ecf0f1;
}

.main-label-info {
    -fx-font-size: 18px;
    -fx-padding: 3 0 3 0;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

.page-panel {
    -fx-background-color: #ffffff;
    -fx-border-color: #555555;
}


#panelOutputMBTiles, #panelOutputDir, #panelOutputGeopackage {
    -fx-background-color: #ecf0f1,
    linear-gradient(to bottom, #ecf4fa 0%, #ced4d9 100%);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-margin: 0 5 5 0;
}

#panelOutputMBTiles:hover, #panelOutputDir:hover, #panelOutputGeopackage:hover {
    -fx-background-color: #bdc3c7;
    -fx-cursor: hand;
}

#containerOutputMBTiles, #containerOutputDir, #containerOutputGeopackage {
    -fx-background-color: #3498db;
}

#vbProgressContainer {
    -fx-background-color: #1abc9c;
}

.advancePadding {
    -fx-padding: 5 0 5 20;
}

.navicator {
    -fx-background-color: #bdc3c7;
}
